body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    border-top: 4px solid rgba(123, 194, 194, 0.500);
    border-left: 4px solid rgba(123, 194, 194, 0.500);
    border-right: 4px solid rgba(123, 194, 194, 0.500);
    width: 1880px;
    height: 800px;
    background-image: url("img/planogram_image.svg");
    background-repeat: no-repeat;
    background-size: 1880px 800px;
}

.divSpeed {
    display: flex;
    width: 20em;
    justify-content: space-around;
}

.divSpeed button {
    width: 3em;
    height: 3em;
    font-size: 16px;
    font-weight: 900;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container > span {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 20px;
    margin: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.timer {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.file-input {
    display: none;
}

.file-label {
    background-color: #001780;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #96a7cd;
}

.file-name {
    margin-top: 10px;
    color: #333;
}

.divSpeed {
    display: flex;
    width: 20em;
    justify-content: space-around;
  }
  
  .divSpeed button {
    width: 3em;
    height: 3em;
    font-size: 16px;
    font-weight: 900;
    background-color: #001780;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .divSpeed button:hover {
    background-color: #c1d0eb;
    color: #001780;
  }



  .sidebar {
    width: 80%;
    height: 100vh;
    background-color: #f6f7f7;
    position: fixed;
    top: 0;
    left: -80%;
    transition: left 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .sidebar.open {
    left: 0;
  }

  .close-sidebar-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #001780;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .close-sidebar-button:hover {
    background-color: #c1d0eb;
    color: #001780;
  }

  .open-sidebar-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #001780;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .open-sidebar-button:hover {
    background-color: #c1d0eb;
    color: #001780;
  }